.modal-close-btn {
    color: white;
    padding: 0px;
    background-color: transparent;
    border-width: 0px;
    text-align: left;
    font-size: x-large;
    border-color: transparent;
}

.modal-learn-btn {
    color: white;
    padding: 0px;
    background-color: white;
    border-width: 0px;
    border-color: transparent;
}

.modal-background {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    width: 60vw;
    height: fit-content;
    border-radius: 12px;
    background-color: #001e40;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .modal-pgraph-container {
    margin-top: 10px;
    width: 60%;
    text-align: left;
  }
  
  .modal-title {
    display: inline-block;
    text-align: center;
    color: #0d1026 !important;
  }
  
  
  .modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    text-align: center;
    color: white !important;
  }
  
  .modal-footer {
    width: 100% !important;
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-learn-btn {
    width: 150px;
    height: 45px;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    justify-content: right;
    text-align: center;
    background-color: cornflowerblue;
  } 