.icon-container {
    padding-top: 1%;
    flex-direction: row !important;
    align-content: space-evenly !important;
}

.icon {
    margin: 2%;
    color: #2f4e92;
}

.icon:hover {
    color: #83a0df;
    transition: 300ms ease-in;
}

.pgraph {
    height: 16vh;
    font-size: 11px;
}

.Card {
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0x 1x 10px 1px black;
    padding: 0.8rem;
}

.pgraphname {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.pgraphjob {
    font-size: 16px;
    font-weight: 500;
    color: #2f4e92;
}

.pgraph_card {
    font-size: small;
    text-align: center !important;
}

.upper-container {
    height: 100px;
    background: linear-gradient(to left, #BF7C33, #35406a)
}

.image-container img {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(95px, 45px);
}

.imgProfile {
    border: 2px solid #35406a !important;
}

.lower-container {
    padding-top: 50px;
    height: 200px;
    background: white;
    text-align: center;
}