@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.formbox {
    background-color: #001E49;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10%;
    padding-bottom: 1%;
}

.formtitle {
    padding-top: 3%;
}

input[type=text] {
    padding-top: 10%;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    border-width: 0px;
    border-bottom-width: 1px;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    margin-bottom: 5%;
}


label {
    color: white;
}

#name {
    padding-right: 30%;
}

#email {
    padding-right: 30%;
}

#company {
    padding-right: 24%;
}

#subject {
    padding-right: 27%;
}

label[for=message] {
    margin-left: 5%;
}

#message {
    margin-bottom: 5%;
    padding-left: 62%;
}

input[type=submit] {
    margin-left: 80%;
    margin-bottom: 5%;
}

.submitbutton {
    color: white;
    border-radius: 100px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
    border-width: 1px;
}

.formcolumn {
    display: inline-block;
    width: 50%;
    padding-left: 5%;

}

@media screen and (max-width: 1200px) {
    .formcolumn {
        width: 100%;
    }

    #message {
        padding-left: 25%;
    }

    input[type=submit] {
        margin-left: 30%;
    }
}