.abouttext {
	margin-top: 2%;
}

.abouttitle {
	margin-left: -57%;
}

.aboutp {
	margin-left: 15%;
	margin-right: 55%;
	margin-bottom: 1%;
	color: white;
	font-size: 90%;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	line-height: 180%;
}

.aboutbutton {
	color: white;
	border-radius: 100px;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #0C1026;
	font-family: 'Poppins', sans-serif;
	border-width: 1px;
	border-color: white;
	margin-left: 15%;
}