@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


:root {
	--font-family: 'Manrope', sans-serif;
	--color-bg: #040C18;
	--color-footer: #031B34;
	--color-blog: #042c54;
	--color-text: #81AFDD;
	--color-subtext: #FF8A71;


}

body {
	background: #0C1026;
}

h1 {
	font-size: 300%;
	color: white;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.strip {
	height: 100vh;
	width: 100%;
	display: inline-block;
	padding-top: 10%;
	padding-bottom: 10%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}