.inc-intro-pgraph-container {
    z-index: 1;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6vw;
    padding-top: 2vw;
}

.inc-intro-pgraph {
    width: 40vw;
}